<div class="selection">
  <p class="text-secondaryColor font-medium mb-1">{{ label }}</p>
  <div class="relative">
    <div
      class="w-full flex items-center justify-between gap-2 border border-borderColor py-[16px] ps-4 pe-7 rounded-[5px] cursor-pointer"
      (click)="toggleOptions()"
    >
      <p class="" [class]="selected ? 'text-secondaryColor' : 'text-[#7F8DA4]'">
        {{ selected || placeholder }}
      </p>
      <img
        class="w-5 h-5"
        src="../../../../assets/icons/downs.svg"
        alt="Toggle Options"
      />
    </div>

    @if (isOpen) {
    <div
      class="selectOption bg-whiteColor w-full mt-4 shadow-lg rounded-[5px] absolute z-40 overflow-y-auto"
      [class]="{ 'max-h-20': options.length > 1 }"
    >
      @for (option of options; track $index) {
      <div
        class="selectOption px-4 py-2 flex items-center gap-1 cursor-pointer hover:bg-[#EAECF0] transition-all duration-200 z-50"
        (click)="selectOption(option)"
      >
        <p class="text-[14px] md:text-[16px]">{{ option }}</p>
      </div>
      }
    </div>
    }
  </div>
</div>
