<section>
  <div class="flex gap-3 items-center">
    <div
      class="py-2 px-3 border border-borderColor  rounded-[5px] cursor-pointer {{
        axleType ? 'bg-secondaryColor ' : 'bg-whiteColor'
      }}"
      (click)="setPage('alex-type')"
    >
      <p class=" {{ axleType ? 'text-whiteColor ' : 'text-secondaryColor' }}">
        Axle Type
      </p>
    </div>

    <div
      class="py-2 px-3 border border-borderColor  rounded-[5px] cursor-pointer {{
        commodity ? 'bg-secondaryColor ' : 'bg-whiteColor'
      }}"
      (click)="setPage('commodity')"
    >
      <p class=" {{ commodity ? 'text-whiteColor ' : 'text-secondaryColor' }}">
        Commodity
      </p>
    </div>
  </div>

  @if(axleType){
  <div class="flex items-center gap-4 justify-end">
    <app-button-icon
      [icon]="'assets/icons/add-icon.svg'"
      [text]="'Add Axel Type'"
      (click)="openAxel()"
    />
  </div>
  <!-- Axle Type Table -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-7">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead class="text-xs text-gray-700 uppercase bg-secondaryColor">
        <tr>
          <th scope="col" class="text-whiteColor px-3 py-3">Axle Type</th>
          <th scope="col" class="text-whiteColor px-3 py-3">Allowed Weight</th>
          <th scope="col" class="text-whiteColor px-3 py-3">Axle 1</th>
          <th scope="col" class="text-whiteColor px-3 py-3">Axle 2</th>
          <th scope="col" class="text-whiteColor px-3 py-3">Axle 3</th>
          <th scope="col" class="text-whiteColor px-3 py-3">Axle 4</th>
          <th scope="col" class="text-whiteColor px-3 py-3">Axle 5</th>
          <th scope="col" class="text-whiteColor px-3 py-3">Axle 6</th>
          <th scope="col" class="text-whiteColor px-3 py-3">Axle 7</th>
          <th scope="col" class="text-whiteColor px-3 py-3">Axle 8</th>
          <th scope="col" class="text-whiteColor px-3 py-3">Axle 9</th>
          <th scope="col" class="text-whiteColor px-3 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-whiteColor border-b border-[#d8dad3]">
          <th
            scope="row"
            class="px-3 py-4 font-medium text-secondaryColor whitespace-nowrap"
          >
            7C
          </th>
          <td class="px-3 py-4 font-normal text-secondaryColor">21000</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">14000</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal">
            <div class="flex items-center justify-end gap-2">
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/edit-icon.svg"
                alt=""
              />
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/delete-icon.svg"
                alt=""
              />
            </div>
          </td>
        </tr>

        <tr class="bg-whiteColor border-b border-[#d8dad3]">
          <th
            scope="row"
            class="px-3 py-4 font-medium text-secondaryColor whitespace-nowrap"
          >
            7C
          </th>
          <td class="px-3 py-4 font-normal text-secondaryColor">21000</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">14000</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal">
            <div class="flex items-center justify-end gap-2">
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/edit-icon.svg"
                alt=""
              />
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/delete-icon.svg"
                alt=""
              />
            </div>
          </td>
        </tr>

        <tr class="bg-whiteColor border-b border-[#d8dad3]">
          <th
            scope="row"
            class="px-3 py-4 font-medium text-secondaryColor whitespace-nowrap"
          >
            7C
          </th>
          <td class="px-3 py-4 font-normal text-secondaryColor">21000</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">14000</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal text-secondaryColor">0</td>
          <td class="px-3 py-4 font-normal">
            <div class="flex items-center justify-end gap-2">
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/edit-icon.svg"
                alt=""
              />
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/delete-icon.svg"
                alt=""
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  } @if(commodity){
  <div class="flex items-center gap-4 justify-end">
    <app-button-icon
      [icon]="'assets/icons/add-icon.svg'"
      [text]="'Add Comodity'"
      (click)="createCommodity()"
    />
  </div>

  <!-- Commodity -->

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-7">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead class="text-xs text-gray-700 uppercase bg-secondaryColor">
        <tr>
          <th scope="col" class="text-whiteColor px-3 py-3">Id</th>
          <th scope="col" class="text-whiteColor px-3 py-3">Commodity</th>
          <th scope="col" class="text-whiteColor px-3 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-whiteColor border-b border-[#d8dad3]">
          <th
            scope="row"
            class="px-3 py-4 font-medium text-secondaryColor whitespace-nowrap"
          >
            1
          </th>
          <td class="px-3 py-4 font-normal text-secondaryColor">Food</td>
          <td class="px-3 py-4 font-normal">
            <div class="flex items-center justify-end gap-2">
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/edit-icon.svg"
                alt=""
              />
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/delete-icon.svg"
                alt=""
              />
            </div>
          </td>
        </tr>

        <tr class="bg-whiteColor border-b border-[#d8dad3]">
          <th
            scope="row"
            class="px-3 py-4 font-medium text-secondaryColor whitespace-nowrap"
          >
            2
          </th>
          <td class="px-3 py-4 font-normal text-secondaryColor">
            Agric Products
          </td>
          <td class="px-3 py-4 font-normal">
            <div class="flex items-center justify-end gap-2">
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/edit-icon.svg"
                alt=""
              />
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/delete-icon.svg"
                alt=""
              />
            </div>
          </td>
        </tr>

        <tr class="bg-whiteColor border-b border-[#d8dad3]">
          <th
            scope="row"
            class="px-3 py-4 font-medium text-secondaryColor whitespace-nowrap"
          >
            3
          </th>
          <td class="px-3 py-4 font-normal text-secondaryColor">Energy</td>
          <td class="px-3 py-4 font-normal">
            <div class="flex items-center justify-end gap-2">
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/edit-icon.svg"
                alt=""
              />
              <img
                class="w-5 h-5 cursor-pointer"
                src="assets/icons/delete-icon.svg"
                alt=""
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  }
</section>

<app-modal
  [styles]="{
   width: '800px',
    background: '#fff',
    padding: '10px 15px',
    borderRadius: '10px',
}"
  [Header]="'Add Axel Type'"
  [visible]="openAxleType"
>
  <div class="flex items-center gap-4">
    <div class="w-full">
      <app-input
        [type]="'text'"
        [inputId]="'axleType'"
        [label]="'Axle Type'"
        [placeholder]="'Enter axle type here ...'"
      />
    </div>
    <div class="w-full">
      <app-input
        [type]="'text'"
        [inputId]="'axleType'"
        [label]="'Allowed Weight'"
        [placeholder]="'eg, 21000'"
      />
    </div>
  </div>

  <div class="flex items-center gap-4">
    <div class="w-full">
      <app-input
        [type]="'number'"
        [inputId]="'axleType'"
        [label]="'Axle 1'"
        [placeholder]="'eg, 0000'"
      />
    </div>

    <div class="w-full">
      <app-input
        [type]="'number'"
        [inputId]="'axleType'"
        [label]="'Axle 2'"
        [placeholder]="'eg, 0000'"
      />
    </div>

    <div class="w-full">
      <app-input
        [type]="'number'"
        [inputId]="'axleType'"
        [label]="'Axle 3'"
        [placeholder]="'eg, 0000'"
      />
    </div>
  </div>

  <div class="flex items-center gap-4">
    <div class="w-full">
      <app-input
        [type]="'number'"
        [inputId]="'axleType'"
        [label]="'Axle 4'"
        [placeholder]="'eg, 0000'"
      />
    </div>

    <div class="w-full">
      <app-input
        [type]="'number'"
        [inputId]="'axleType'"
        [label]="'Axle 5'"
        [placeholder]="'eg, 0000'"
      />
    </div>

    <div class="w-full">
      <app-input
        [type]="'number'"
        [inputId]="'axleType'"
        [label]="'Axle 6'"
        [placeholder]="'eg, 0000'"
      />
    </div>
  </div>

  <div class="flex items-center gap-4">
    <div class="w-full">
      <app-input
        [type]="'number'"
        [inputId]="'axleType'"
        [label]="'Axle 7'"
        [placeholder]="'eg, 0000'"
      />
    </div>

    <div class="w-full">
      <app-input
        [type]="'number'"
        [inputId]="'axleType'"
        [label]="'Axle 8'"
        [placeholder]="'eg, 0000'"
      />
    </div>
    <div class="w-full">
      <app-input
        [type]="'number'"
        [inputId]="'axleType'"
        [label]="'Axle 9'"
        [placeholder]="'eg, 0000'"
      />
    </div>
  </div>

  <div class="flex items-center justify-end gap-4 mt-4">
    <app-button-normal [text]="'Cancel'" (click)="close()" />
    <app-button-normal
      [bgStyles]="'bg-secondaryColor text-whiteColor'"
      [text]="'Save Axel'"
    />
  </div>
</app-modal>

<app-modal
  [styles]="{
   width: '600px',
    background: '#fff',
    padding: '10px 15px',
    borderRadius: '10px',
}"
  [Header]="'Add Axel Type'"
  [visible]="openCommodity"
>
  <div class="">
    <div class="w-full">
      <app-input
        [type]="'text'"
        [inputId]="'commodity'"
        [label]="'Commodity'"
        [placeholder]="'Enter commodity here ...'"
      />
    </div>
  </div>

  <div class="flex items-center justify-end gap-4 mt-4">
    <app-button-normal [text]="'Cancel'" (click)="close()" />
    <app-button-normal
      [bgStyles]="'bg-secondaryColor text-whiteColor'"
      [text]="'Save Commodity'"
    />
  </div>
</app-modal>
