<section
  class="w-full p-3 bg-whiteColor rounded-[10px] flex items-center justify-between"
>
  <div class="">
    <h2 class="text-[30px] text-secondaryColor font-medium">
      Welcome Back Johnson
    </h2>
  </div>
  <div class="flex items-center gap-2">
    <div class="bg-primaryColor w-12 h-12 rounded-full">
      <img
        class="w-full h-full rounded-full"
        src="../../../../assets/images/profile.jpg"
        alt=""
      />
    </div>
    <div class="flex items-center gap-1 relative">
      <div class="">
        <p>Johnson Nice</p>
      </div>
      <div class="w-7 h-7">
        <img class="w-full h-full" src="assets/icons/downs.svg" alt="" />
      </div>
    </div>
    <!-- <div class="absolute top-[90px]">
      <app-card
        [class]="'w-[200px] h-[200px] bg-whiteColor rounded-[8px] shadow-sm'"
      >
        rfgeduivjkn;fdscu;jnk</app-card
      >
    </div> -->
  </div>
</section>
